<h1>Listing answers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= link_to 'Show', category_question_answer_path(params[:category_id], params[:question_id], answer) %></td>
        <td><%= link_to 'Edit', edit_category_question_answer_path(params[:category_id], params[:question_id], answer) %></td>
        <td><%= link_to 'Destroy', category_question_answer_path(params[:category_id], params[:question_id], answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_category_question_answer_path %>
