<%- title "Admin - Adicionar Filho: #{@category.name}" %>
<div class="large-12 columns" role="content">
  <h3>Adicionar Filho</h3>
  <div class="row">
    <div class="large-6 columns" role="content">
      <%= @category.name %>
    </div>
  </div>

  <div class="row">  
    <div class="large-12 columns">
      <%= @category.description %>
    </div>
  </div>
</div>