<%- title "Categorias" %>
<%= render 'categories/breadcrumb', category: @category %>
<h4><%= @category.description %></h4>
<%= link_to 'Nova Pergunta', new_category_question_path(@category), class: "small button" %>
<hr />
<% Question.where("category_id = #{@category.id}").order("created_at").each do |que| %>
  <%= render 'miniquestion', question: que %>
<% end %>