<h3>Olá, <%= @email %>!</h3>

<p class="lead">Você pode confirmar sua conta através do link abaixo:</p>

<%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), class: "btn" %>