<h3>Olá, <%= @email %>!</h3>

<p class="lead">Alguém (esperamos que você) requisitou um link para resetar a sua senha. Você pode fazer isto pelo link abaixo:</p>

<%= link_to 'Resetar minha senha ;-D', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), class: 'btn' %>

<p class="callout">Se não foi você quem requisitou isto, por favor ignore este e-mail.<br />Sua senha não será alterada se você não acessar o link acima e alterá-la.</p>
