<h3>Q&A PUCRS</h3>
<p>Olá, <%= @resource.email %>!</p>

<p>Alguém (esperamos que você) requisitou um link para resetar a sua senha. Você pode fazer isto pelo link abaixo:</p>

<p><%= link_to 'Resetar minha senha ;-D', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você quem requisitou isto, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada se você não acessar o link acima e alterá-la.</p>
