      <!-- Sidebar -->
   
      <aside class="large-3 columns">
        <h5>Opções</h5>
        <ul class="side-nav">
          <li><%= link_to "Categorias", admin_categories_path %></li>
          <li><%= link_to "Usuários", admin_users_path %></li>
        </ul>
      </aside>
   
      <!-- End Sidebar -->