      <!-- Sidebar -->
   
      <aside class="large-3 columns">
        <div class="panel">
          <h5>Unidades Acadêmicas</h5>
          <ul class="side-nav">
            <li class="divider"></li>
            <%
              @pucrs = Category.where("name = '#{QA::Application.config.main_category}'").first
              if @pucrs != nil
                Category.where("ancestry = '#{@pucrs.id}'").find_each do |category| %>
                  <li><%= link_to category.name, category %></li>
                  <li class="divider"></li>
            <% end
            end %>
          </ul>
        </div>
   
      </aside>
   
      <!-- End Sidebar -->